
           body{
            background-color:pink;
           }
           
            section{
                background-color: aquamarine;
            }
            footer{
                background-color: dimgray;
                color:white;
            }
            li{
                list-style:none;
                display:inline-block;
                background-color:red;
                color:white
            }